@page
@model jpitkonsult.IndexModel
@{
    Layout = "Shared/_Layout";
}

<div class="containerw3" id="jp_home">
    <img class="img-fluid" srcset="
         /business-600w.jpg 600w,
         /business-768w.jpg 768w,
         /business-992w.jpg 992w,
         /business-1200w.jpg 1200w,
         /business-1920w.jpg 1920w,
         /business-2560w.jpg 2560w,
         /business.jpg 5471w"
         sizes="100vw"
         src="/business.jpg"
         alt="Three pencils, an iPhone, the Magic Keyboard, two notebooks and a pair of EarPods" />

    <div class="centeredw3 text-dark">
        <p class="lead">IT-Consultants with a focus on <strong>banking</strong> and <strong>insurance</strong> companies.</p>
    </div>
</div>

<div class="bg-light d-flex justify-content-center" id="jp_clients">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <a href="https://www.sgfinans.se/">
                    <img src="~/sg_trans.png" class="img-fluid" alt="The Societe Generale logo">
                </a>
            </div>
            <div class="col">
                <a href="https://www.santanderconsumer.se/">
                    <img src="~/santander_trans.png" class="img-fluid" alt="The Santander logo">
                </a>
            </div>
            <div class="col">
                <a href="https://www2.ibinder.com/pub/se/?Locale=sv-se">
                    <img src="~/ibinder_trans.png" class="img-fluid" alt="The iBinder logo">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="containerw3" id="jp_career">
    <img class="img-fluid" srcset="
         /cherry-600w.jpg 600w,
         /cherry-768w.jpg 768w,
         /cherry-992w.jpg 992w,
         /cherry-1200w.jpg 1200w,
         /cherry-1920w.jpg 1920w,
         /cherry-2560w.jpg 2560w,
         /cherry.jpg 5621w"
         sizes="100vw"
         src="/cherry.jpg"
         alt="A cup of coffee, two cherries, the magic keyboard and a pencil" />

    <div class="centeredw3 text-dark">
        <p class="lead">
            JP IT-Konsult is looking for new consultants who have <strong>worked a few years</strong>,
            have <strong>a degree</strong> in computer science and are ready to <strong>take the next step</strong> in their career.
        </p>
    </div>
</div>

<div class="bg-light d-flex justify-content-center" id="jp_contact">
    <div class="d-flex flex-row bd-highlight align-items-center">
        <div class="p-4 bd-highlight">
            <img src="~/johan.jpg" class="rounded-circle" alt="Portrait of Johan" width="150" height="150">
        </div>
        <div class="p-4 bd-highlight">
            <blockquote class="blockquote">
                <p class="lead">If you would like to know more about JP IT-Konsult and what we can do for you, please contact us at <a href="mailto:info@jpitkonsult.se">info@jpitkonsult.se</a><br></p>
                <footer class="blockquote-footer lead"><cite title="Source Title">Johan Pettersson, CEO</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="containerw3" id="jp_about">
    <img class="img-fluid" srcset="
         /pen-600w.jpg 600w,
         /pen-768w.jpg 768w,
         /pen-992w.jpg 992w,
         /pen-1200w.jpg 1200w,
         /pen-1920w.jpg 1920w,
         /pen-2560w.jpg 2560w,
         /pen.jpg 6016w"
         sizes="100vw"
         src="/pen.jpg"
         alt="A pencil, a flower in a pot and a notebook" />

    <div class="centeredw3 text-dark">
        <p class="lead">
            JP IT-Konsult was founded in September 2018 by Johan Pettersson.
        </p>
    </div>
</div>
