/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
  /* Margin bottom by footer height */
  position:relative;
  padding-top:127px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.containerw3 {
    position: relative;
    text-align: center;
    color: white;
}

.centeredw3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.nav-link:hover {
    color:royalblue !important;
}

@media screen and (max-width: 415px) {
    .lead {
        font-size: 15px;
    }
}

@media screen and (max-width: 415px) {
    #copyright {
        font-size: 3.6vw;
    }
}

@media screen and (max-width: 500px) {
    #githublink {
        visibility:hidden;
    }
}

.business {
    width: 100%;
}
.pen {
    width:100%;
}
.cherry {
    width:100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .business {
        content: url('../business-600w.jpg');
    }
    .pen {
        content: url('../pen-600w.jpg');
    }
    .cherry {
        content: url('../cherry-600w.jpg');
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .business {
        content: url('../business-768w.jpg');
    }

    .pen {
        content: url('../pen-768w.jpg');
    }

    .cherry {
        content: url('../cherry-768w.jpg');
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
    .business {
        content: url('../business-992w.jpg');
    }

    .pen {
        content: url('../pen-992w.jpg');
    }

    .cherry {
        content: url('../cherry-992w.jpg');
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
    .business {
        content: url('../business-1200w.jpg');
    }

    .pen {
        content: url('../pen-1200w.jpg');
    }

    .cherry {
        content: url('../cherry-1200w.jpg');
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
    .business {
        content: url('../business-1920w.jpg');
    }

    .pen {
        content: url('../pen-1920w.jpg');
    }

    .cherry {
        content: url('../cherry-1920w.jpg');
    }
}

/* Extra large devices (desktops, 1921px and up) */
@media only screen and (min-width: 1921px) {
    .business {
        content: url('../business-2560w.jpg');
    }

    .pen {
        content: url('../pen-2560w.jpg');
    }

    .cherry {
        content: url('../cherry-2560w.jpg');
    }
}

/* Extra large devices (desktops, 2561px and up) */
@media only screen and (min-width: 2561px) {
    .business {
        content: url('../business.jpg');
    }

    .pen {
        content: url('../pen.jpg');
    }

    .cherry {
        content: url('../cherry.jpg');
    }
}