@page
@model IndexModel

<div class="containerw3" id="jp_home">
    <img class="img-fluid" srcset="
         /business-600w.jpg 600w,
         /business-768w.jpg 768w,
         /business-992w.jpg 992w,
         /business-1200w.jpg 1200w,
         /business-1920w.jpg 1920w,
         /business-2560w.jpg 2560w,
         /business.jpg 5471w"
         sizes="100vw"
         src="/business.jpg"
         alt="Tre pennor, en mobiltelefon, ett tangentbord, två anteckningsblock och ett par hörlurar" />

    <div class="centeredw3 text-dark">
        <p class="lead">IT-konsulter med fokus på <strong>bank-</strong> och <strong>försäkringsbolag</strong>.</p>
    </div>
</div>

<div class="bg-light d-flex justify-content-center" id="jp_clients">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <a href="https://www.sgfinans.se/">
                    <img src="~/sg_trans.png" class="img-fluid" alt="Societe Generale loggan">
                </a>
            </div>
            <div class="col">
                <a href="https://www.santanderconsumer.se/">
                    <img src="~/santander_trans.png" class="img-fluid" alt="Santander loggan">
                </a>
            </div>
            <div class="col">
                <a href="https://www2.ibinder.com/pub/se/?Locale=sv-se">
                    <img src="~/ibinder_trans.png" class="img-fluid" alt="iBinder loggan">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="containerw3" id="jp_career">
    <img class="img-fluid" srcset="
         /cherry-600w.jpg 600w,
         /cherry-768w.jpg 768w,
         /cherry-992w.jpg 992w,
         /cherry-1200w.jpg 1200w,
         /cherry-1920w.jpg 1920w,
         /cherry-2560w.jpg 2560w,
         /cherry.jpg 5621w"
         sizes="100vw"
         src="/cherry.jpg"
         alt="En kopp kaffe, två körsbär, ett tangentbord och en penna" />

    <div class="centeredw3 text-dark">
        <p class="lead">
            JP IT-Konsult letar efter nya konsulter som har <strong>jobbat några år</strong>, har <strong>en examen</strong> i datavetenskap och är redo att <strong>ta nästa steg</strong> i karriären.
        </p>
    </div>
</div>

<div class="bg-light d-flex justify-content-center" id="jp_contact">
    <div class="d-flex flex-row bd-highlight align-items-center">
        <div class="p-4 bd-highlight">
            <img src="~/johan.jpg" class="rounded-circle" alt="En bild på Johan" width="150" height="150">
        </div>
        <div class="p-4 bd-highlight">
            <blockquote class="blockquote">
                <p class="lead">Om du vill veta mer om JP IT-Konsult och vad vi kan göra för dig, vänligen kontakta oss på <a href="mailto:info@jpitkonsult.se">info@jpitkonsult.se</a><br></p>
                <footer class="blockquote-footer lead"><cite title="Source Title">Johan Pettersson, VD</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="containerw3" id="jp_about">
    <img class="img-fluid" srcset="
         /pen-600w.jpg 600w,
         /pen-768w.jpg 768w,
         /pen-992w.jpg 992w,
         /pen-1200w.jpg 1200w,
         /pen-1920w.jpg 1920w,
         /pen-2560w.jpg 2560w,
         /pen.jpg 6016w"
         sizes="100vw"
         src="/pen.jpg"
         alt="En penna, en blomma i en kruka och ett anteckningsblock" />

    <div class="centeredw3 text-dark">
        <p class="lead">
            JP IT-Konsult grundades i September 2018 av Johan Pettersson.
        </p>
    </div>
</div>
